@page "/"

@using System.Globalization
@using WeatherForecast.UI.Data
@inject IWeatherForecastService _weatherForecastService
@inject Blazored.SessionStorage.ISessionStorageService session

<PageTitle>Weather Forecast</PageTitle>

<style>
    .mud-elevation-1 {
        box-shadow: none;
    }

    .split-div {
        justify-content: space-between;
        display: flex;
        margin-bottom: 20px;
    }

    .left {
        text-align: left;
    }

    .right {
        text-align: right;
    }

    .centered-div {
        text-align: center;
        margin-bottom: 10px;
    }

        .centered-div i {
            font-size: 36px;
        }

        .centered-div img {
            /* font-size: 36px; */
        }

        .centered-div span {
            font-size: 18px;
            padding: 10px;
        }

    .list-item-content {
        display: flex;
        justify-content: space-between;
    }

    .right-content {
        margin-left: auto;
    }

    .temp-text {
        font-size: 36px;
    }
</style>


<MudSelect Dense="true" T="string" Label="Şehir" Variant="Variant.Text" Placeholder="@selectedCity" ValueChanged=@(args => OnCityChanged(args))>
    @for (int i = 0; i < cities.Count(); i++)
    {
        <MudSelectItem Value="@(cities[i])" />
    }
</MudSelect>

<MudPaper MinHeight="100%" Width="100%">
    <MudContainer MaxWidth="MaxWidth.Small">
        <MudPaper Height="100%" Width="100%" Square="true" style="padding:10px;" Class="mud-theme-warning">
            <div style="margin-top: 10px;" class="centered-div">
                <p>@DateTime.Now.ToShortDateString()</p>
            </div>
            <div class="split-div">
                <p class="left">Şuanki Hava Durumu</p>
                <p class="right">@DateTime.Now.ToShortTimeString()</p>
            </div>
            @if (_weatherForecast.main is not null)
            {
                <div class="centered-div" style="display: flex; align-items: center; justify-content: center;">
                    @* <i class="fa-solid fa-cloud-moon-rain"> *@
                    <img src="@_weatherIcon" style="width: 100px; height: 100px; font-size: 36px;" alt="Weather Icon" />
                    <p class="temp-text">@_weatherForecast.main.temp °</p>
                    @* </i> *@
                </div>
                <div class="centered-div">
                    <span>@CultureInfo.CurrentCulture.TextInfo.ToTitleCase(_weatherForecast.weather[0].description.ToLower())</span>
                </div>

                <MudList Clickable="false">
                    <MudListItem>
                        <div class="list-item-content">
                            <span class="left-content">En Düşük Sıcaklık</span>
                            <span class="right-content">@_weatherForecast.main.temp_min °</span>
                        </div>
                    </MudListItem>
                    <MudDivider />
                    <MudListItem>
                        <div class="list-item-content">
                            <span class="left-content">En Yüksek Sıcaklık</span>
                            <span class="right-content">@_weatherForecast.main.temp_max °</span>
                        </div>
                    </MudListItem>
                    <MudDivider />
                    <MudListItem>
                        <div class="list-item-content">
                            <span class="left-content">Nem</span>
                            <span class="right-content">% @_weatherForecast.main.humidity</span>
                        </div>
                    </MudListItem>
                    <MudDivider />
                    <MudListItem>
                        <div class="list-item-content">
                            <span class="left-content">Basınç</span>
                            <span class="right-content">@_weatherForecast.main.pressure hPa</span>
                        </div>
                    </MudListItem>
                    <MudDivider />
                    <MudListItem>
                        <div class="list-item-content">
                            <span class="left-content">Rüzgar</span>
                            <span class="right-content">@_weatherForecast.wind.speed m/s</span>
                        </div>
                    </MudListItem>
                </MudList>
            }

        </MudPaper>
    </MudContainer>
</MudPaper>

@code {
    private WeatherForecast _weatherForecast = new WeatherForecast();
    private string _weatherIcon;
    string selectedCity = "";

    private string[] cities = { "Adana", "Adıyaman", "Afyonkarahisar", "Ağrı", "Amasya", "Ankara", "Antalya", "Artvin",
        "Aydın", "Balıkesir", "Bilecik", "Bingöl", "Bitlis", "Bolu", "Burdur", "Bursa", "Çanakkale",
        "Çankırı", "Çorum", "Denizli", "Diyarbakır", "Edirne", "Elazığ", "Erzincan", "Erzurum", "Eskişehir",
        "Gaziantep", "Giresun", "Gümüşhane", "Hakkari", "Hatay", "Isparta", "Mersin", "İstanbul", "İzmir",
        "Kars", "Kastamonu", "Kayseri", "Kırklareli", "Kırşehir", "Kocaeli", "Konya", "Kütahya", "Malatya",
        "Manisa", "Kahramanmaraş", "Mardin", "Muğla", "Muş", "Nevşehir", "Niğde", "Ordu", "Rize", "Sakarya",
        "Samsun", "Siirt", "Sinop", "Sivas", "Tekirdağ", "Tokat", "Trabzon", "Tunceli", "Şanlıurfa", "Uşak",
        "Van", "Yozgat", "Zonguldak", "Aksaray", "Bayburt", "Karaman", "Kırıkkale", "Batman", "Şırnak", "Bartın",
        "Ardahan", "Iğdır", "Yalova", "Karabük", "Kilis", "Osmaniye", "Düzce" };

    protected override async Task OnInitializedAsync()
    {
        await LoadWeatherDataAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        // Önceki seçilen şehiri sessiondan alır..
        selectedCity = await session.GetItemAsync<string>("selectedCity");

        await LoadWeatherDataAsync();
    }

    // Hava durumu bilgisi çekiliyor..
    async Task GetWeatherForecastAsync(string city)
    {
        var weatherForecast = await _weatherForecastService.GetWeatherForecastAsync(city);
        if (weatherForecast != null)
        {
            // İstek başarılıysa
            _weatherForecast = weatherForecast;
            // İkon için url bilgisi alınıyor..
            var icon = await _weatherForecastService.GetWeatherIconAsync(_weatherForecast.weather[0].icon);
            if (icon is not null)
            {
                _weatherIcon = icon;
            }
            // Razor bileşenine bir değişiklik olduğunu bildirir, sayfayı render eder..
            StateHasChanged();
        }
        else
        {
            // İstek başarısız olursa..
        }
    }

    // Hava durumu bilgisini yüklemek için kullanılan fonksiyon.
    async Task LoadWeatherDataAsync()
    {
        // Eğer sessionda kayıtlı bir seçilen şehir yoksa, varsayılan olarak İstanbul'u kullanır..
        if (string.IsNullOrEmpty(selectedCity))
        {
            selectedCity = "İstanbul";
        }

        // Hava durumu bilgisi çekiliyor..
        await GetWeatherForecastAsync(selectedCity);
    }

    // Şehir değişikliği event handler fonksiyonu. Seçilen şehir değiştiğinde çalışır..
    async Task OnCityChanged(string newValue)
    {
        // Seçilen şehiri sessiona kaydeder..
        await session.SetItemAsync("selectedCity", newValue);
        //Hava durumu bilgisi çekiliyor..
        await GetWeatherForecastAsync(newValue);

    }
}
