@page "/"

@using System.Globalization
@using WeatherForecast.UI.Data
@inject IWeatherForecastService _weatherForecastService

<PageTitle>Weather Forecast</PageTitle>

<style>
    .mud-elevation-1 {
        box-shadow: none;
    }

    .split-div {
        justify-content: space-between;
        display: flex;
        margin-bottom: 20px;
    }

    .left {
        text-align: left;
    }

    .right {
        text-align: right;
    }

    .centered-div {
        text-align: center;
        margin-bottom: 10px;
    }

        .centered-div i {
            font-size: 36px;
        }
        
        .centered-div img {
            /* font-size: 36px; */
        }

        .centered-div span {
            font-size: 18px;
            padding: 10px;
        }

    .list-item-content {
        display: flex;
        justify-content: space-between;
    }

    .right-content {
        margin-left: auto;
    }

    .temp-text {
        font-size: 36px;
    }
</style>

<MudPaper MinHeight="100%" Width="100%">
    <MudContainer MaxWidth="MaxWidth.Small">
        <MudPaper Height="100%" Width="100%" Square="true" style="padding:10px;" Class="mud-theme-warning">
            <div style="margin-top: 10px;" class="centered-div">
                <p>@DateTime.Now.ToShortDateString()</p>
            </div>
            <div class="split-div">
                <p class="left">Şuanki Hava Durumu</p>
                <p class="right">@DateTime.Now.ToShortTimeString()</p>
            </div>
            @if (_weatherForecast.main is not null)
            {
                <div class="centered-div" style="display: flex; align-items: center; justify-content: center;">
                    @* <i class="fa-solid fa-cloud-moon-rain"> *@
                    <img src="@_weatherIcon" style="width: 100px; height: 100px; font-size: 36px;" alt="Weather Icon" />
                    <p class="temp-text">@_weatherForecast.main.temp °</p>
                    @* </i> *@
                </div>
                <div class="centered-div">
                    <span>@CultureInfo.CurrentCulture.TextInfo.ToTitleCase(_weatherForecast.weather[0].description.ToLower())</span>
                </div>

                <MudList Clickable="false">
                    <MudListItem>
                        <div class="list-item-content">
                            <span class="left-content">En Düşük Sıcaklık</span>
                            <span class="right-content">@_weatherForecast.main.temp_min °</span>
                        </div>
                    </MudListItem>
                    <MudDivider />
                    <MudListItem>
                        <div class="list-item-content">
                            <span class="left-content">En Yüksek Sıcaklık</span>
                            <span class="right-content">@_weatherForecast.main.temp_max °</span>
                        </div>
                    </MudListItem>
                    <MudDivider />
                    <MudListItem>
                        <div class="list-item-content">
                            <span class="left-content">Nem</span>
                            <span class="right-content">% @_weatherForecast.main.humidity</span>
                        </div>
                    </MudListItem>
                    <MudDivider />
                    <MudListItem>
                        <div class="list-item-content">
                            <span class="left-content">Basınç</span>
                            <span class="right-content">@_weatherForecast.main.pressure hPa</span>
                        </div>
                    </MudListItem>
                    <MudDivider />
                    <MudListItem>
                        <div class="list-item-content">
                            <span class="left-content">Rüzgar</span>
                            <span class="right-content">@_weatherForecast.wind.speed m/s</span>
                        </div>
                    </MudListItem>
                </MudList>
            }

        </MudPaper>
    </MudContainer>
</MudPaper>

@code {
    private WeatherForecast _weatherForecast = new WeatherForecast();
    private string _weatherIcon;


    protected override async Task OnInitializedAsync()
    {
        // Hava durumu bilgisi çekiliyor..
        var weatherForecast = await _weatherForecastService.GetWeatherForecastAsync();
        if (weatherForecast != null)
        {
            // İstek başarılıysa
            _weatherForecast = weatherForecast;
            // İkon için url bilgisi alınıyor..
            var icon = await _weatherForecastService.GetWeatherIconAsync(_weatherForecast.weather[0].icon);
            if (icon is not null)
            {
                _weatherIcon = icon;
            }
            // Razor bileşenine bir değişiklik olduğunu bildirir, sayfayı render eder..
            StateHasChanged();
        }
        else
        {
            // İstek başarısız olursa..
        }
    }
}
